.todoCard {
  padding: 12px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 3px 8px 0px #00000014;
  flex-direction: row;
  align-items: center;
}
.todoCardLabel {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #96959E;
}
.todoCardTODOText {
  color: white;
}
